
h3  {
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  line-height: 48px;
  color: #aaaaaa;
  margin: 0;
}


.Title{
  position: absolute;
  bottom: -8px;
  left: 40px;
  height: 44px;
  width: 44px;
  z-index: 0;
}
.Slider {
  position: absolute;
  bottom: -28px;
  left: 105px;
  width: 380px;
}