<div class="title">
  <div class="col-md-10 offset-md-1">
    <h3 class="Title">Please enter some details about your property</h3>
  </div>
</div>

<div class="row">
  <div class="col-md-4 offset-md-4">
    <form class="DetailsForm" [formGroup]="DetailsForm" (ngSubmit)="submit($event)" (keyup)="onChange()">
      <mat-form-field>
          <input matInput placeholder="Name" type="text" value="" formControlName="Name">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Property Type" formControlName="Type">
          <mat-option *ngFor="let Type of Types" [value]="Type">
            {{Type}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <textarea matInput placeholder="Description" type="text" value="" formControlName="Description">
        </textarea>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Bathrooms" type="number" value="" formControlName="Bathrooms">
      </mat-form-field>
      <mat-form-field>
        <mat-select placeholder="Available Electricity" formControlName="Electricity">
          <mat-option [value]="1">
            Yes
          </mat-option>
          <mat-option [value]="0">
            No
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Parking" type="number" value="" formControlName="Parking">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Rate" type="number" value="" formControlName="Rate">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Deposit" type="number" value="" formControlName="Deposit">
      </mat-form-field>
      <button type="submit" style="display:none">hidden submit</button>
    </form>
  </div>
</div>


<!-- NEXT BUTTON -->
<div class="row nextrow">
  <div class="col-md-8 offset-md-2 nextrow" style="padding:0">
    <mat-card class="Next-Button" (click)="submit(null)" [ngStyle]="{'background-color': color, 'cursor' : cursor}">
      <div class="inline">
        <h3 class="Next-Text" [ngStyle]="{color: textcolor}">Next</h3>
        <mat-icon class="Next-Icon" [ngStyle]="{color: textcolor}">arrow_forward</mat-icon>
      </div>
    </mat-card>
  </div>
</div>
