<md-card class="center-card">
  <md-card-header>

  </md-card-header>
  <h3>
    Give us some more information about your location!
  </h3>
  <hr>
  <md-card-content>
    <form [formGroup]="LocationData" >
      <md-input-container class="threefourth-width">
        <input mdInput formControlName="streetAddress" placeholder="Street Address">
      </md-input-container>
      <md-input-container class="zip-width">
        <input mdInput formControlName="zip"  placeholder="Zip or Postal">
      </md-input-container>
      <br>
      <md-input-container>
        <input mdInput formControlName="city"  placeholder="City">
      </md-input-container>
      <md-input-container>
        <input mdInput formControlName="state"  placeholder="State">
      </md-input-container>
      <md-input-container>
        <input mdInput formControlName="country"  placeholder="Country">
      </md-input-container>
      <hr>

      <md-input-container class="threefourth-width">
        <input mdInput formControlName="name" placeholder="Property Title" value="">
      </md-input-container>
      <md-select placeholder="Location Type" formControlName="type" >
        <md-option *ngFor="let type of Types" [value]="type.value" >
          {{ type.value }}
        </md-option>
      </md-select>
      <br>
      <md-input-container class="full-width">
        <textarea mdInput formControlName="description"  placeholder="Description" value=""></textarea>
      </md-input-container>

        <div class="fabs">
          <h1>
            Bathrooms
          </h1>
          <div>{{ numBathrooms }}</div>
          <button  class="lilfab" md-mini-fab (click)="incrementBathroom()" ><md-icon  svgIcon="plus"></md-icon></button>
          <button  class="lilfab" md-mini-fab (click)="decrementBathroom()"><md-icon  svgIcon="minus"></md-icon></button>
        </div>

      <div class="fabs">
        <h1>
          Parking
        </h1>
        <div>{{ numParking }}</div>
        <button  class="lilfab" md-mini-fab (click)="incrementParking()" ><md-icon  svgIcon="plus"></md-icon></button>
        <button  class="lilfab" md-mini-fab (click)="decrementParking()"><md-icon  svgIcon="minus"></md-icon></button>
      </div>


      <md-select placeholder="Electricity" formControlName="electricity" >
        <md-option [value]="true" >
          Yes
        </md-option>
        <md-option [value]="false" >
          No
        </md-option>
      </md-select>
      <md-input-container class="deposit">
        <input mdInput formControlName="deposit" placeholder="Deposit ($)"  value="200">
      </md-input-container>
      <md-input-container class="rate">
        <input mdInput formControlName="rate" placeholder="Rate per Day ($)"  value="0">
      </md-input-container>
      <hr>

    </form>
  </md-card-content>
</md-card>