body {
  font-family: 'Saira Condensed', sans-serif;
}
.body{
  width: 500px;
}
.stepBtn {
  float: left;
  margin-left: 2%;
  margin-right: 2%;
  text-align: center;
  background: #32b9d7;
  margin-top: 5%;
  margin-bottom: 5%;
  color: #FFFFFF;

}
.backb  {
  position:absolute;
  right: 290px;
  width: 20px;
  top: 100px;
}
.nextb  {
  position:absolute;
  right: 180px;
  width: 20px;
  top: 100px;
}
.title {
  font-family: 'Saira Condensed', sans-serif;
  font-size: larger;
}

h1 {
  margin: 3%;
  font-family: 'Saira Condensed', sans-serif;
}

form {
  margin: 5%;
}

mat-expansion-panel {
  margin: 3%;
  padding: 2%;
}


mat-input-container {
  width: 100%;
  padding-left: 7%;
  padding-right: 7%;
}

table {
  width: 100%;
}

.nums {
  float: right;
  margin: 2%;
  padding-right: 2%;
}

.tdBtn {
  width: 10%;
  padding: 2%;
}

.elecbtn {
  float: right;
  margin: 2%;
  background: #32b9d7;
  border: transparent;
  margin: 2%;
}

.elecbtnNo {
  float: right;
  background: #828282;
  border: transparent;
  margin: 5%;
}

.elecbtnYes {
  float: right;
  background: #39cc61;
  border: transparent;
  margin: 5%;
}

svg {
  margin: 0 auto;
  padding-top: 7px;
  padding-left: 2px;
}

h3 {
  font-family: 'Saira Condensed', sans-serif;
  margin: 2%;
}


.Address-Panel  {
  width: 200px;
  position: absolute;
  left: 0;
}

.Details-Panel {
  width: 200px;
  position: absolute;
  left: calc(35%)
}
.MoreDetails_Panel  {
  width: 200px;
  position: absolute;
  left: 70%;
}