.row{
  height: 100%;
  width: 100%;

  padding: 0;
}
.col-md-6 {
  padding: 0;
}

h3 {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 34px;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  line-height: 40px;
  text-align: left;
}
h5  {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 200;
  text-align: left;
}
p {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 200;
  text-align: left;
}
.title  {
  margin: 10px 0 10px;
}
mat-form-field  {
  width: 100%;
}
.num-inout  {
  width: 32%;

}
.Title {
  text-align: center;
}

.Next-Button  {
  margin-top: 0;
  width: 100%;
  background-color: #7acc85;
  opacity: 1;
  transition: .5s ease;
  height: 48px;

}
.Next-Text  {
  text-align: center;
  color: white;
  transition: .5s ease;
}
.Next-Icon  {
  color: white;
  transition: .5s ease;
}

.inline {
  display: inline-flex;
  position: absolute;
  left: calc(50% - 47px);
  top: calc(50% - 20px);
}
.nextrow  {
  height: 48px;
}