<body>

<h1>
  Location Details
</h1>
<hr>
<form [formGroup]="AddressData" >
  <mat-input-container class="details">
    <input matInput formControlName="streetAddress" placeholder="Street Address">
  </mat-input-container>
  <mat-input-container class="details">
    <input matInput formControlName="zip"  placeholder="Zip or Postal">
  </mat-input-container>
  <mat-input-container class="details">
    <input matInput formControlName="city"  placeholder="City">
  </mat-input-container>
  <mat-input-container class="details">
    <input matInput formControlName="state"  placeholder="State">
  </mat-input-container>
  <mat-input-container class="details">
    <input matInput formControlName="country"  placeholder="Country">
  </mat-input-container>
</form>
<form [formGroup]="LocationData" >
  <mat-input-container class="details">
    <input matInput formControlName="name" placeholder="Property Title" value="">
  </mat-input-container>
  <mat-select placeholder="Location Type" formControlName="type" class="details">
    <mat-option *ngFor="let type of Types" [value]="type.value" >
      {{ type.value }}
    </mat-option>
  </mat-select>
  <mat-input-container class="details">
    <textarea matInput formControlName="description"  placeholder="Description" value=""></textarea>
  </mat-input-container>
  <mat-input-container class="details">
    <input matInput formControlName="deposit" placeholder="Deposit ($USD)"  value="200">
  </mat-input-container>
  <mat-input-container class="details">
    <input matInput formControlName="rate" placeholder="Rate per Day ($USD)"  value="0">
  </mat-input-container>
</form>

<form [formGroup]="DetailsData" >

  <div class="detailsBottom">
    <h2> Bathrooms </h2>
    <button class="elecbtn" (click)="decrementBathroom()">
      <svg fill="#FFFFFF" height="48" viewBox="0 0 24 24" width="48" xmlns="https://www.w3.org/2000/svg">
        <path d="M0 0h24v24H0z" fill="none"/>
        <path d="M7 11v2h10v-2H7zm5-9C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"/>
      </svg>
    </button>
    <button class="elecbtn" (click)="incrementBathroom()" >
      <svg fill="#FFFFFF" height="48" viewBox="0 0 24 24" width="48" xmlns="https://www.w3.org/2000/svg">
        <path d="M0 0h24v24H0z" fill="none"/>
        <path d="M13 7h-2v4H7v2h4v4h2v-4h4v-2h-4V7zm-1-5C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"/>
      </svg>
    </button>
    <h2 class="nums">{{ numBathrooms }}</h2>
  </div>

  <div class="detailsBottom">
    <h2> Parking </h2>
    <button class="elecbtn" (click)="decrementParking()">
      <svg fill="#FFFFFF" height="48" viewBox="0 0 24 24" width="48" xmlns="https://www.w3.org/2000/svg">
        <path d="M0 0h24v24H0z" fill="none"/>
        <path d="M7 11v2h10v-2H7zm5-9C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"/>
      </svg>
    </button>
    <button class="elecbtn" (click)="incrementParking()" >
      <svg fill="#FFFFFF" height="48" viewBox="0 0 24 24" width="48" xmlns="https://www.w3.org/2000/svg">
        <path d="M0 0h24v24H0z" fill="none"/>
        <path d="M13 7h-2v4H7v2h4v4h2v-4h4v-2h-4V7zm-1-5C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"/>
      </svg>
    </button>
    <h2 class="nums">{{ numParking }}</h2>
  </div>

  <div class="detailsBottom">
    <h2> Electricity </h2>
    <button class="elecbtnNo" id="falseBtn" (click)="electricityFalse()">
      <svg fill="#FFFFFF" height="48" viewBox="0 0 24 24" width="48" xmlns="https://www.w3.org/2000/svg">
        <path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/>
        <path d="M0 0h24v24H0z" fill="none"/>
      </svg>
    </button>
    <button class="elecbtnYes" id="trueBtn" (click)="electricityTrue()" >
      <svg fill="#FFFFFF" height="48" viewBox="0 0 24 24" width="48" xmlns="https://www.w3.org/2000/svg">
        <path d="M0 0h24v24H0z" fill="none"/>
        <path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"/>
      </svg>
    </button>
  </div>

</form>

<button class="stepBtn" (click)="nextStep()" mat-button matStepperPrevious="">BACK</button>
<button class="stepBtn" (click)="nextStep()" mat-button matStepperNext>NEXT</button>
</body>