.Title {
  text-align: left;
}
.DetailsForm  {
  margin-top: 5%;
  width: 100%;
}
  .Name-Type-Row  {
    height: auto;
    width: 100%;
    margin: 0;
  }
    .Left-Panel {

    }
      .Name-InputField  {
        margin-bottom: 18px;
      }
      .Description-InputField {

      }
    .Right-Panel  {

    }
      .Type-Input {
        height: calc(100% - 32px);
      }
  .Details-Row-1  {
    width: 100%;
    height: auto;
    margin-top: 24px;
    display: flex;
    flex-wrap: wrap;
  }
      .Bathrooms-Tile {
        width: 150px;
        min-width: 150px;
        height: 180px;
        padding: 0;
        margin: 24px;
      }
        .Bathrooms-Icon {
          height: 30px;
          width: 30px;
          position: absolute;
          top: 4px;
          left: 60px;
        }
        .Bathrooms-Title  {
          position: absolute;
          bottom: 4px;
          width: 100%;
          text-align: center;
          left: 0;
          color: #74befb;
        }
        .Bathrooms-Add  {
          position: absolute;
          min-width: 36px ;
          width: 36px;
          padding: 0;
          height: 36px;
          left: 36px;
          bottom: 48px;
        }
        .Bathrooms-Add:hover  {

        }
        .Bathrooms-Add:active {

        }
        .Bathrooms-Minus  {
          position: absolute;
          min-width: 36px ;
          width: 36px;
          padding: 0;
          height: 36px;
          right: 36px;
          bottom: 48px;
        }
        .Bathrooms-Value  {
          position: absolute;
          width: 100%;
          height: 36px;
          right: 0;
          font-size: 48px;
          top: 36px;
          text-align: center;
          color: #c5c5c5;
        }
      .Power-Tile {
        width: 150px;
        height: 180px;
        padding: 0;
        margin: 24px;
      }
          .Power-Icon {
            height: 30px;
            width: 30px;
            position: absolute;
            top: 4px;
            left: 60px;
          }
          .Power-Title  {
            position: absolute;
            bottom: 4px;
            width: 100%;
            text-align: center;
            left: 0;
            color: #c5c5c5;
          }
          .Power-Toggle {
            position: absolute;
            min-width: 36px ;
            width: 36px;
            padding: 0;
            height: 36px;
            left: 57px;
            bottom: 48px;
          }
          .Power-Value-Icon  {
            position: absolute;
            width: 36px;
            height: 36px;
            right: 57px;
            font-size: 48px;
            top: 48px;
            color: #c5c5c5;
          }
      .Cars-Tile  {
        width: 150px;
        height: 180px;
        padding: 0;
        margin: 24px;
      }
            .Car-Icon {
              height: 30px;
              width: 30px;
              position: absolute;
              top: 4px;
              left: 60px;
            }
            .Car-Title {
              position: absolute;
              bottom: 4px;
              width: 100%;
              text-align: center;
              left: 0;
              color: #c5c5c5;
            }
            .Car-Add  {
              position: absolute;
              min-width: 36px ;
              width: 36px;
              padding: 0;
              height: 36px;
              left: 36px;
              bottom: 48px;
            }
            .Car-Minus  {
              position: absolute;
              min-width: 36px ;
              width: 36px;
              padding: 0;
              height: 36px;
              right: 36px;
              bottom: 48px;
            }
            .Car-Value {
              position: absolute;
              width: 100%;
              height: 36px;
              right: 0;
              font-size: 48px;
              top: 36px;
              text-align: center;
              color: #c5c5c5;
            }

        .Truck-Tile {
          width: 150px;
          height: 180px;
          padding: 0;
          margin: 24px;
        }
              .Truck-Icon {
                height: 30px;
                width: 30px;
                position: absolute;
                top: 4px;
                left: 60px;
              }
              .Truck-Title {
                position: absolute;
                bottom: 4px;
                width: 100%;
                text-align: center;
                left: 0;
                color: #c5c5c5;
              }
              .Truck-Add  {
                position: absolute;
                min-width: 36px ;
                width: 36px;
                padding: 0;
                height: 36px;
                left: 36px;
                bottom: 48px;
              }
              .Truck-Minus  {
                position: absolute;
                min-width: 36px ;
                width: 36px;
                padding: 0;
                height: 36px;
                right: 36px;
                bottom: 48px;
              }
              .Truck-Value {
                position: absolute;
                width: 100%;
                height: 36px;
                right: 0;
                font-size: 48px;
                top: 36px;
                text-align: center;
                color: #c5c5c5;
              }
        .Rate-Tile {
          width: 150px;
          height: 180px;
          padding: 0;
          margin: 24px;
        }
              .Rate-Icon {
                height: 30px;
                width: 30px;
                position: absolute;
                top: 4px;
                left: 60px;
              }
              .Rate-Title {
                position: absolute;
                bottom: 4px;
                width: 100%;
                text-align: center;
                left: 0;
                color: #c5c5c5;
              }
              .Rate-Add  {
                position: absolute;
                min-width: 36px ;
                width: 36px;
                padding: 0;
                height: 36px;
                left: 36px;
                bottom: 48px;
              }
              .Rate-Minus  {
                position: absolute;
                min-width: 36px ;
                width: 36px;
                padding: 0;
                height: 36px;
                right: 36px;
                bottom: 48px;
              }
              .Rate-Value {
                position: absolute;
                width: 100%;
                height: 36px;
                right: 0;
                font-size: 30px;
                top: 48px;
                text-align: center;
                color: #c5c5c5;
              }
        .Deposit-Tile  {
          width: 150px;
          height: 180px;
          padding: 0;
          margin: 24px;
        }
                .Deposit-Icon {
                  height: 30px;
                  width: 30px;
                  position: absolute;
                  top: 4px;
                  left: 60px;
                }
                .Deposit-Title {
                  position: absolute;
                  bottom: 4px;
                  width: 100%;
                  text-align: center;
                  left: 0;
                  color: #c5c5c5;
                }
                .Deposit-Add  {
                  position: absolute;
                  min-width: 36px ;
                  width: 36px;
                  padding: 0;
                  height: 36px;
                  left: 36px;
                  bottom: 48px;
                }
                .Deposit-Minus  {
                  position: absolute;
                  min-width: 36px ;
                  width: 36px;
                  padding: 0;
                  height: 36px;
                  right: 36px;
                  bottom: 48px;
                }
                .Deposit-Value {
                  position: absolute;
                  width: 100%;
                  height: 36px;
                  right: 0;
                  font-size: 30px;
                  top: 48px;
                  text-align: center;
                  color: #c5c5c5;
                }

.Question-Row {
  margin-top: 12px;
}
mat-radio-button  {
  margin-left: 4px;
}
  .Question-1 {
    color: #7f7f7f;
    font-size: 18px;
  }
    .Owner-Button-Group {
      margin-left: 24px;
    }
  .Question-2 {
    color: #7f7f7f;
    font-size: 18px;
  }



/* GLOBAL STYLES */
.form-control {
  border-radius: 0 !important;
}
.Add-Icon {
  height: 36px;
  width: 36px;
  padding: 12px;
}







h3 {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 34px;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  line-height: 40px;
  text-align: left;
}
h5, h4 {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 200;
  text-align: left;
}
p {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 200;
  text-align: left;
}
.title  {
  margin: 10px 0 10px;
}
mat-form-field  {
  width: 100%;
}
.num-inout  {
  width: 32%;

}


.Next-Button  {
  margin-left: 2%;
  margin-top: 0;
  width: 96%;
  background-color: #7acc85;
  opacity: 1;
  transition: .5s ease;
  height: 48px;


}
.Next-Text  {
  text-align: center;
  color: white;
  transition: .5s ease;
}
.Next-Icon  {
  color: white;
  transition: .5s ease;
  top: calc(50% - 15px);
  left: calc(50% + 38px);
  position: absolute;

}

.inline {
  display: inline-flex;
  position: absolute;
  left: calc(50% - 47px);
  top: calc(50% - 20px);
}
.nextrow  {
  margin-top: 24px;
  height: 48px;
}


svg:hover path {
  fill: red;
}



