


<!-- SPLIT VIEW -->
<div class="row" >
  <div class="col-md-8 map-split">
      <!-- GRID -->
      <div class="grid" *ngIf="state === 'grid'">
          <grid  [locations]="locations"></grid>
      </div>
      <!-- MAP -->
     <app-map *ngIf="state === 'map'" [locations]="locations" >

     </app-map>
  </div>
  <div class="col-md-4 right-panel">
      <app-filter-drawer
              (filterClick)="filterClicked($event)"
              (GridClicked)="GridClicked()"
              (closeAll)="DrawerHeight = '100px'"
              [ngStyle]="{height: DrawerHeight}"
              [DrawerHeight]="DrawerHeight"
      >
      </app-filter-drawer>
      <app-list
              [ngStyle]="{top: (DrawerHeight.substr(0,3).valueOf() - 100) + 'px'}"

      ></app-list>
  </div>
</div>



