<!-- GRID -->
<div class="grid" *ngIf="state === 'grid'">
    <grid  [locations]="locations"></grid>
</div>

<!-- MAP ONLY -->
<div class="map" *ngIf="state === 'map'" >
  <app-map [locations]="locations" ></app-map>
</div>

<!-- SPLIT VIEW -->
<div class="row" *ngIf="state === 'split'">
  <div class="col-md-8 map-split">
    <app-map  [locations]="locations" ></app-map>
  </div>
  <div class="col-md-4 right-panel">
      <app-filter-drawer></app-filter-drawer>
    <div class="list-wrapper list-split">
      <app-list [locations]="locations ? locations : []"></app-list>
    </div>
  </div>
</div>

<!-- FILTER COMPONENTS -->
<app-type-filter #typefilter
                 *ngIf="typeState"
                 [ParentTop]="TypeButtonTop"
                 [ParentLeft]="TypeButtonLeft"
></app-type-filter>
<app-electricity-filter #electricityfilter
                        *ngIf="electricityState"
                        [ParentTop]="ElectricityButtonTop"
                        [ParentLeft]="ElectricityButtonLeft">
</app-electricity-filter>
<app-bathroom-filter #bathroomfilter
                     *ngIf="bathroomState"
                     [ParentTop]="BathroomButtonTop"
                     [ParentLeft]="BathroomButtonLeft">
</app-bathroom-filter>
<app-distance-filter #distancefilter
                     *ngIf="distanceState"
                     [ParentTop]="DistanceButtonTop"
                     [ParentLeft]="DistanceButtonLeft">
</app-distance-filter>
<app-rate-filter #ratefilter
                 *ngIf="rateState"
                 [ParentTop]="RateButtonTop"
                 [ParentLeft]="RateButtonLeft">
</app-rate-filter>

