<!-- GRID -->
<div class="grid" *ngIf="state === 'grid'">
    <grid  [locations]="locations"></grid>
</div>

<!-- MAP ONLY -->
<div class="map" *ngIf="state === 'map'" >
  <app-map [locations]="locations" ></app-map>
</div>

<!-- SPLIT VIEW -->
<div class="row" *ngIf="state === 'split'">
  <div class="col-md-8 map-split">
    <app-map  [locations]="locations" ></app-map>
  </div>
  <div class="col-md-4 right-panel">
      <app-filter-drawer></app-filter-drawer>
      <app-list [locations]="locations ? locations : []"></app-list>
  </div>
</div>



