<div class="row Background">
    <div class="col-md-4 Left-Panel">
        <h3><strong>Name : </strong>{{location.name}}</h3>
        <br>
        <h3><strong>Description : </strong>{{location.description}}</h3>
        <br>
        <br>
    </div>
    <div class="col-md-4 Center-Panel">
        <h3><strong>Name : </strong>{{location.name}}</h3>
        <br>
        <h3><strong>Description : </strong>{{location.description}}</h3>
        <br>
        <br>
    </div>
    <div class="col-md-4 Right-Panel">
        <h3><strong>Name : </strong>{{location.name}}</h3>
        <br>
        <h3><strong>Description : </strong>{{location.description}}</h3>
        <br>
        <br>
    </div>
</div>