mat-horizontal-stepper   {
    width: 80%;
    height: 85vh;
    position: absolute;
    top: calc(50% - 40vh);
    left: calc(50% - 40%);
    border-radius: 20px;
    padding: 0;
    overflow-y: auto;
}
mat-step    {
    padding: 0;

}


app-review-and-submit   {
    height: 100%;
}




app-fill-out-details    {
    width: 80%;
    left: 10%;
    height: calc(80vh - 72px);
    position: absolute;
    overflow-y: auto;
}
app-verify-location {
    overflow-y: auto;
}
app-upload-photos   {
    width: 80%;
    height: calc(80vh - 72px);
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
    left: 10%;
    border-bottom-right-radius: 20px;
}

.background    {
    background-size: cover;
    position: absolute;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 1;
}
form{
    display: none;
}
.back-arrow {
    position: fixed;
    top: 50px;
    left: 50px;
    font-size: 40px;
    z-index: 10;
    color: white;
    cursor: pointer;
}
.wrapper    {
    position: absolute;
    background-image: url('../../../assets/images/UploadBackground.jpg');
    background-size: cover;
    bottom: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 2;
}

::-webkit-scrollbar {
    width: 10px;  /* remove scrollbar space */
    margin-left: 2px;
    z-index: 10;
    display: none;
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #a1a1a1;
    border-radius: 5px;
    display: none;
    z-index: 10;
}