
<div class="wrapper">
  <mat-horizontal-stepper [linear]="true"  #stepper >
    <mat-step label="Verify Location" >
      <app-verify-location (nextClick)="stepper.next()">
      </app-verify-location>
    </mat-step >
    <mat-step label="Fill Out Details" >
      <app-fill-out-details #FOD (nextClick)="stepper.next()" >
      </app-fill-out-details>
    </mat-step>
    <mat-step label="Amenities" >
      <app-amenities (nextClick)="stepper.next()"  >
      </app-amenities>
    </mat-step>
    <mat-step label="Upload Photos"  >
      <app-upload-photos (nextClick)="stepper.next()" >
      </app-upload-photos>
    </mat-step>
    <mat-step label="Review & Submit" >
      <app-review-and-submit>
      </app-review-and-submit>
    </mat-step>
  </mat-horizontal-stepper>
</div>

<mat-icon class="back-arrow" [routerLink]="'/'">arrow_back</mat-icon>

