<md-horizontal-stepper>

  <md-step label="Verify Location">
    <app-verify-location>

    </app-verify-location>
    <button md-button mdStepperNext>Next</button>

  </md-step >

  <md-step label="Fill Out Details">
    <app-fill-out-details>

    </app-fill-out-details>
    <button md-button mdStepperPrevious="">Back</button>
    <button md-button mdStepperNext>Next</button>

  </md-step>

  <md-step label="Rules">
    <app-location-rules>

    </app-location-rules>
    <button md-button mdStepperPrevious="">Back</button>
    <button md-button mdStepperNext>Next</button>

  </md-step>

  <md-step label="Upload Photos">
    <app-upload-photos>

    </app-upload-photos>
    <button md-button mdStepperPrevious="">Back</button>
    <button md-button mdStepperNext>Next</button>

  </md-step>

  <md-step label="Review & Submit">
    <app-review-and-submit>

    </app-review-and-submit>
    <button md-button mdStepperPrevious="">Back</button>

  </md-step>

</md-horizontal-stepper>