.FloatBar {
  background-color: #fcfcfc;
  height: 45px;
  width: 775px;
  border-radius: 100px !important;
  z-index: 10;
  color: #74befb;
  border: 1px solid #f6f6f6;
  padding: 0 !important;
}

.logo{
  background-image: url('../../../assets/icons/Logo.png');
  background-size: cover;
  background-repeat: repeat-y;
  position: absolute;
  top: -28px;
  left: 178px;
  height: 100px;
  width: 100px;
  z-index: 10;
}
.pipe {
  font-size: 20px;
  margin-top: 2px;
  color: grey;
}

.labels  {
  font-family: Roboto , sans-serif;
  font-size: 20px;
  font-style: normal;
  font-variant: normal;
  font-weight: 600;
  line-height: 20px;
  outline: none;
  cursor: pointer;
  color: #66b9fb;
  margin: 6px 40px 2px;
}

.Header  {
  position: absolute;
  top: 6px;
  left: -135px;
}
labels:hover  {
  color: #66bcfe;
}
