<!-- MAIN TOOLBAR -->
<mat-card class="FloatBar">
  <div class="Header row">
    <img src="{{ProfilePicture}}" class="profile-picture">
    <h5 class="pipe" style="margin-left: 300px;">|</h5>
    <h5 class="labels"  [routerLink]="'/main/search'">SEARCH</h5>
    <h5 class="pipe">|</h5>
    <h5 class="labels" [routerLink]="'/main/permit'">PERMITS</h5>
    <h5 class="pipe">|</h5>
    <h5 class="labels" (click)="routeToPost()">POST A LOCATION</h5>
  </div>
</mat-card>

<!-- [routerLink]="'/main/permits'" -->