<!-- MAIN TOOLBAR -->
<div class="FloatBar" [ngStyle]="ShowBar ? {display: 'none'} : {top: '65px', left: '160px' }">
  <div class="Header row">
    <div class="logo"></div>
    <h5 class="pipe" style="margin-left: 235px;">|</h5>
    <h5 class="labels"  [routerLink]="'/main/search'">SEARCH</h5>
    <h5 class="pipe">|</h5>
    <h5 class="labels" [routerLink]="'/main/permits'">PERMITS</h5>
    <h5 class="pipe">|</h5>
    <h5 class="labels" (click)="routeToPost()">POST A LOCATION</h5>
  </div>
</div>

