
h3 {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 34px;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  line-height: 40px;
  text-align: left;
}
h5  {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 200;
  text-align: left;
}
p {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-style: normal;
  font-variant: normal;
  font-weight: 200;
  text-align: left;
}
.title  {
  margin: 10px 0 10px;
}
.upload-box {
  width: 100%;
  height: 200px;
  background-color: #d0eaf5;
  border-radius: 5px;
  text-align: center;
  border: 1px solid lightgrey;
  z-index: 5;
  transition: .3s ease;
}
.upload-box:hover {
  background-color: #d7f2fd;
  transition: .3s ease;
}
.image-input {
}
.add-photo-tile {
  cursor: pointer;
}
img {
  width: 100%;
}
.inner-shadow {
  -moz-box-shadow:    inset 0 0 30px #7cc3d4;
  -webkit-box-shadow: inset 0 0 30px #7cc3d4;
  box-shadow:         inset 0 0 30px #7cc3d4;
}
.Next-Button  {
  margin-top: 0;
  width: 100%;
  background-color: #7acc85;
  opacity: 1;
  transition: .5s ease;
  height: 48px;

}
.Next-Text  {
  text-align: center;
  color: white;
  transition: .5s ease;
}
.Next-Icon  {
  color: white;
  transition: .5s ease;
}

.inline {
  display: inline-flex;
  position: absolute;
  left: calc(50% - 47px);
  top: calc(50% - 20px);
}
.nextrow  {
  padding-top: 20px;
  height: 68px;
}

.dropzone-1 {
  width: 30%;
}
.imageholder  {
  width: 100%;
  height: 150px;
}
.drag-icon  {
  position: absolute;
  left: calc(50% - 30px);
  top: calc(50% - 15px);
  font-size: 60px;
  color: #7cc3d4;
  transition: .3s ease;
}
.add-photo-tile:hover .drag-icon {
  color: #3594ab;
  transition: .3s ease;
}



  .drag-text  {
    position: absolute;
    left: calc(50% - 118px);
    top: calc(50% + 45px);
    font-size: 24px;
    color: #7cc3d4;

  }
  .remove-image {
    position: fixed;
    top: 5px;
    right: 5px;
    color: white;
    height: 14px;
    cursor: pointer;
    transition: .3s ease;
    z-index: 10;

  }
  .remove-image:hover {
    transition: .3s ease;
    color: #f0c7ab;
    z-index: 10;

  }
  img {
    cursor: grab;
    opacity: 1;
    transition: .3s ease;

  }
  img:hover {
    transition: .3s ease;
    opacity: .8;
  }
  .small-icon {
    top: calc(50% - 50px);
    left: calc(50% - 50px);

    font-size: 100px;



  }
  .small-text {
    top: calc(50% + 45px);
  }
  .small-drag-box {
    height: 100%;
  }


  .trash  {
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    width: 14%;
    cursor: default;
    transition: .3s ease;
  }

  .trash-icon {
    font-size: 90px;
    position: fixed;
    top: calc(50% - 30px);
    right: 15%;
    color: grey;
    transition: .3s ease;
    opacity: .2;
    z-indeX: 5;
    cursor: default;
  }


