  <div class="row">
    <div class="col-md-8 offset-md-2">
      <!-- TITLE -->
      <h3>You're going to need some photos</h3>
      <h5>You are allowed up to 10 photos</h5>

      <!-- NO PHOTOS --------------------------->
      <!-- DROP ZONE -->
      <div  type="file"
            class="upload-box inner-shadow add-photo-tile"
            (drop)="isAllowed ? onDrop($event) :  false "
            (dragover)="allow($event)"
            (click)="FileInput.click()"
            dnd-sortable-container
            [dropZones]="['delete-dropZone']"
            [sortableData]="uploadService.Photos"
            *ngIf="LocalPhotos.length == 0"
        >
          <mat-icon
                  class="drag-icon">control_point</mat-icon>
          <p class="drag-text">Drag your images here</p>
        </div>

      <!-- MORE THAN ONE PHOTO------------------->
      <div *ngIf="LocalPhotos.length > 0">
        <!-- DRAG AND DROP IMPLEMENTATION AND MATERIAL STYLE -->
        <mat-grid-list cols="3"
                       rowHeight="1:1"
                       gutterSize="2px"
                       dnd-sortable-container
                       [dropZones]="['delete-dropZone']"
                       [sortableData]="uploadService.Photos"
        >
          <!-- IMAGE TILES -->
          <mat-grid-tile
                  *ngFor="let file of LocalPhotos; let i = index"
                  dnd-sortable
                  [sortableIndex]="i"
                  [colspan]="!i ? 3 : 1"
          >
            <img src="{{uploadService.Photos[i].url}}">
          </mat-grid-tile>

          <!-- ADD MORE PHOTOS TILES -->
          <mat-grid-tile class="add-photo-tile" *ngIf="LocalPhotos.length < 10">
            <div  type="file"
                  class="upload-box inner-shadow small-drag-box"
                  (drop)="isAllowed ? onDrop($event) :  false "
                  (dragover)="allow($event)"
                  (click)="FileInput.click()"
            >
              <mat-icon class="drag-icon small-icon">control_point</mat-icon>
            </div>
          </mat-grid-tile>
        </mat-grid-list>
      </div>
    </div>
    <input style="display: none" type="file" #FileInput multiple (change)="selectFile($event)" >
  </div>

  <!-- TRASH BIN -->
  <div class="trash"
      *ngIf="LocalPhotos.length > 0"
      dnd-sortable-container
      [dropZones]="['delete-dropZone']"
      [sortableData]="listRecycled">
    <mat-icon class="trash-icon" >delete_forever</mat-icon>
  </div>

  <!-- NEXT BUTTON -->
  <div class="row nextrow">
    <div class="col-md-8 offset-md-2 nextrow" style="padding:0">
      <mat-card class="Next-Button" (click)="uploadFile()" [ngStyle]="{'background-color': color, 'cursor' : cursor}">
        <div class="inline">
          <h3 class="Next-Text" [ngStyle]="{color: textcolor}">Next</h3>
          <mat-icon class="Next-Icon" [ngStyle]="{color: textcolor}">arrow_forward</mat-icon>
        </div>
      </mat-card>
    </div>
  </div>




