<md-card [ngStyle]="{'top': ParentTopOffset,'left': ParentLeftOffset }">
  <md-grid-list cols="4" rowHeight="1:1">
    <md-grid-tile (click)="toggleType('Apartment')" [ngStyle]="states.Apartment && {backgroundColor: '#00838f'} || {backgroundColor: '#26c6da'} ">
      <h3>Apartment</h3>
    </md-grid-tile>
    <md-grid-tile (click)="toggleType('Home')"  [ngStyle]="states.Home && {backgroundColor: '#00838f'} || {backgroundColor: '#26c6da'} ">
      <h3>House</h3>
    </md-grid-tile>
    <md-grid-tile (click)="toggleType('School')"  [ngStyle]="states.School && {backgroundColor: '#00838f'} || {backgroundColor: '#26c6da'} ">
      <h3>School</h3>
    </md-grid-tile>
    <md-grid-tile (click)="toggleType('Business')"  [ngStyle]="states.Business && {backgroundColor: '#00838f'} || {backgroundColor: '#26c6da'} ">
      <h3>Business</h3>
    </md-grid-tile>
    <md-grid-tile (click)="toggleType('Park')"  [ngStyle]="states.Park && {backgroundColor: '#00838f'} || {backgroundColor: '#26c6da'} ">
      <h3>Park</h3>
    </md-grid-tile>
    <md-grid-tile (click)="toggleType('Restaurant')"  [ngStyle]="states.Restaurant && {backgroundColor: '#00838f'} || {backgroundColor: '#26c6da'} ">
      <h3>Restaurant</h3>
    </md-grid-tile>
    <md-grid-tile (click)="toggleType('Bar')" [ngStyle]="states.Bar && {backgroundColor: '#00838f'} || {backgroundColor: '#26c6da'} ">
      <h3>Bar</h3>
    </md-grid-tile>
    <md-grid-tile (click)="toggleType('Street')" [ngStyle]="states.Street && {backgroundColor: '#00838f'} || {backgroundColor: '#26c6da'} ">
      <h3>Street</h3>
    </md-grid-tile>
  </md-grid-list>
</md-card>
