<mat-grid-list cols="4" rowHeight="1:1" class="Type-List">
    <mat-grid-tile (click)="toggleType('Apartment')" [ngStyle]="states.Apartment && {backgroundColor: '#8d8e8f'} || {backgroundColor: '#c7cbce'} ">
      <h3>Apartment</h3>
    </mat-grid-tile>
    <mat-grid-tile (click)="toggleType('House')"  [ngStyle]="states.House && {backgroundColor: '#8d8e8f'} || {backgroundColor: '#c7cbce'} ">
      <h3>House</h3>
    </mat-grid-tile>
    <mat-grid-tile (click)="toggleType('School')"  [ngStyle]="states.School && {backgroundColor: '#8d8e8f'} || {backgroundColor: '#c7cbce'} ">
      <h3>School</h3>
    </mat-grid-tile>
    <mat-grid-tile (click)="toggleType('Business')"  [ngStyle]="states.Business && {backgroundColor: '#8d8e8f'} || {backgroundColor: '#c7cbce'} ">
      <h3>Business</h3>
    </mat-grid-tile>
    <mat-grid-tile (click)="toggleType('Park')"  [ngStyle]="states.Park && {backgroundColor: '#8d8e8f'} || {backgroundColor: '#c7cbce'} ">
      <h3>Park</h3>
    </mat-grid-tile>
    <mat-grid-tile (click)="toggleType('Restaurant')"  [ngStyle]="states.Restaurant && {backgroundColor: '#8d8e8f'} || {backgroundColor: '#c7cbce'} ">
      <h3>Restaurant</h3>
    </mat-grid-tile>
    <mat-grid-tile (click)="toggleType('Bar')" [ngStyle]="states.Bar && {backgroundColor: '#8d8e8f'} || {backgroundColor: '#c7cbce'} ">
      <h3>Bar</h3>
    </mat-grid-tile>
    <mat-grid-tile (click)="toggleType('Street')" [ngStyle]="states.Street && {backgroundColor: '#8d8e8f'} || {backgroundColor: '#c7cbce'} ">
      <h3>Street</h3>
    </mat-grid-tile>
  </mat-grid-list>
