mat-card{
  width: 100%;
  background-color: white;
  position: absolute;
  border-radius: 8px;
  padding: 10px;
  cursor: pointer;
}


mat-grid-tile  {
  cursor: pointer;
  background-color: #26c6da;
}
mat-grid-tile:hover  {
  background-color: #00838f;
}
h3  {
  font-family: 'Saira Condensed', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  line-height: 14px;
  color: white;
  margin: 0;
}





.Type-List  {
  position: absolute;
  width: 100%;
  left: 10%;
  bottom: 4px;

}
.Title{
  position: absolute;
  bottom: 160px;
  left: 40px;
  height: 44px;
  width: 100%;
  z-index: 3;
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  line-height: 48px;
  color: #aaaaaa;
  margin: 0;
}
