<mat-card class="maincard">
  <h4 *ngIf="!Focus">
    PREVIEW CONTENTS
  </h4>
  <h4 *ngIf="Focus"> {{collection.name}}</h4>
  <hr style="color:white">
  <mat-card-content>
    <mat-card class="slab" *ngFor="let location of selectedCollectionLocations">
      <img class="slab-image" src="https://' + Prod +  '/files/{{location._id}}">
      <h5 class="slab-h4">{{location.name}}</h5>
      <div class="select" (click)="toLocationProfile(location)"><mat-icon svgIcon="arrow-right"></mat-icon></div>
    </mat-card>
  </mat-card-content>
</mat-card>

