<!-- MAIN BAR -->
<app-main-toolbar [ngStyle]="'Upload' === pageStateService.isOpen() ? {display: 'none', transition: '.3s ease'} :
                             'Location' === pageStateService.isOpen() ? {top: '32px', left: '39px', transition: '.3s ease'} :
                             'Permit' === pageStateService.isOpen() ? {top: '64px', left: '2150px', transition: '.3s ease'} :
                             'Search' === pageStateService.isOpen() ? {top: '64px', left: '39px', transition: '.3s ease'} :
                             null"
>

</app-main-toolbar>

<!-- PAGE CONTENT -->
  <router-outlet ></router-outlet>
