<!-- MAIN BAR -->
<app-main-toolbar [ngStyle]="'Upload' === pageStateService.open ? {top: '0',  left: '0', display: 'none', transition: '.3s ease'} :
                             'Location' === pageStateService.open ? {top: '32px', left: '39px', transition: '.3s ease'} :
                             'Permit' === pageStateService.open ? {top: '64px', left: 'calc(50% - 385px)', transition: '.3s ease'} :
                             'Search' === pageStateService.open ? {top: '64px', left: '39px', transition: '.3s ease'} :
                             null"
>

</app-main-toolbar>

<!-- PAGE CONTENT -->
  <router-outlet ></router-outlet>
