 <mat-sidenav-container class="message-screen">

    <!-- SIDENAV TOGGLE BUTTON -->
    <button mat-raised-button class="sidenav-button" (click)="sideNav.open()">Chats</button>

    <!-- SIDENAV CONTENT -->
    <mat-sidenav #sideNav (close)="scrollToBottom()">
      <button mat-raised-button class="createChat" (click)="createChat()">Create Chat</button>
      <div class="chatCard panel panel-default" *ngFor="let chat of Chats" >
        <div class="selecter" (click)="setCurrentChat(chat)">
          <div class="panel-header">
          <span *ngFor="let user of chat.Participants">
            <span *ngIf="chat.Participants.length > 1 && user.User !== myID">{{user.Username}}</span>
          </span>
          </div>
          <div class="panel-body" *ngIf = "chat.Messages.length > 0">
            {{chat.Messages[chat.Messages.length-1].Author}}: {{chat.Messages[(chat.Messages.length)-1].Content}}
          </div>
        </div>
      </div>
    </mat-sidenav>


  <!-- HEADER -->
  <mat-toolbar color="primary" class="header">
    <span *ngFor="let user of currentRecipents">{{user}}</span>
  </mat-toolbar>
    <!--CHAT SPACE -->
    <div *ngIf="currentChat" class="chatspace" #chatSpace>
      <div class="panel panel-default message" *ngFor="let message of currentChat.Messages">
        <div class="panel-body">
          {{message.Author}}: {{message.Content}}
        </div>
      </div>
    </div>
    <!-- INPUT SPACE & FOOTER -->
    <div class="form" (submit)="sendMessage(Message)">
      <mat-toolbar color="primary" class="footer">
        <div class="well">
          <input  class="inputA" id="message" type="text" [(ngModel)]="Message">
        </div>
      </mat-toolbar>
      <button mat-raised-button class="sendMessage" type="submit" (click)="sendMessage(Message)" >SEND</button>
    </div>
</mat-sidenav-container>
