<div class="list-wrapper">
  <div class="row" *ngFor="let location of locations; let i of index
     | filter: searchString: 'name'
     | typeFilter: typeObject
     | electricityFilter: electrictyObject
     | bathroomFilter: bathroomObject
     | rateFilter: rateObject">

  <div class="col-sm-4 photo-container">
    <div class="color-bar" [ngStyle]="{'background-color': colorFromType(location.type)}">
    </div>
    <img src="http://{{Dev}}/files/{{location._id}}">
    <i class="material-icons add">add_circle_outline</i>
  </div>

  <div class="col-sm-8">
    <h5>{{location.name}}</h5>
    <hr>
    <p>{{location.description}}</p>
    <i class="material-icons flash" *ngIf="location.electricity">power</i>
    <i class="material-icons wc" *ngIf="location.bathrooms">wc</i>
  </div>
  </div>
</div>

