
<!-- ALL PUBLIC COLLECTIONS -->
<md-sidenav-container>
  <md-sidenav #sidenav>
    <app-collection-preview
      [selectedCollectionLocations]="selectedCollectionLocations"
      (selected)="selectCollection($event)"
      [collection]="selectedCollection"
      [Focus]="inFocus"
    >      </app-collection-preview>
  </md-sidenav>
  <div class="row" style="padding-top: 10px;" >
    <div class="col-md-9">
    <app-collection-search>
    </app-collection-search>
    <md-grid-list cols="3" height="1:1" gutterSize="4px">
      <md-grid-tile *ngFor="let collection of collections" >
        <app-collection-card  [collection]="collection"   (selection)="selectCollection(collection)" (deleteClicked)="deletecollection($event)"></app-collection-card>
      </md-grid-tile>
    </md-grid-list>
    </div>
    <div class="col-md-3" >
        <app-new-collection (onSubmitClick)="saveCollection($event)">
        </app-new-collection>
    </div>
  </div>
</md-sidenav-container>





