
<mat-card class="maincard">
    <h4>
      CREATE NEW COLLECTION

    </h4>
  <mat-card-content>
    <form [formGroup]="collectionForm" (ngSubmit)="onSubmit()">
      <mat-card style="" class="titleinputtop">
        <mat-form-field style="width: 100%"  class="title-input">
          <input matInput placeholder="Collection Title" formControlName="Name">
        </mat-form-field>
      </mat-card>
      <br>
      <mat-card style=" " class="textinputbottom">
        <mat-form-field class="text-input">
          <textarea matInput placeholder="A small description..." formControlName="Subtitle" >
      </textarea>
        </mat-form-field>
      </mat-card>
    </form>
  </mat-card-content>
  <button mat-raised-button class="new-collection-button3" [disabled]="!collectionForm.valid" type="submit" (click)="onSubmit()">CREATE NEW COLLECTION</button>

</mat-card>


