  <img class="avatar" src="http://loca-app.herokuapp.com/files/{{location._id}}" (click)="toLocationProfile(location)" >
  <mat-grid-tile-footer>
    {{location.name}}
    <app-collection-button
      [collections]="collections"
      [location]="location"
      class="addToCollection"
    >
    </app-collection-button>
  </mat-grid-tile-footer>


  <!--
  <div (mouseover)="isHovering = true" (mouseleave)="isHovering = false">
      <h3 [ngStyle]="{'opacity': 1 || !isHovering }">{{location.name}}</h3>
  </div>

-->


