

<div class="row">
  <div class="col-lg-8 offset-lg-2">
    <hr>
    <mat-list>
      <mat-list-item class="item1" ><h3 class="RnR">Rules and Regulations</h3></mat-list-item>
      <router-outlet ></router-outlet>
      <mat-list-item class="item2"  ><h3 class="SS">Social Services</h3></mat-list-item>
      <router-outlet ></router-outlet>
      <mat-list-item class="item3" ><h3 class="P">Permit</h3></mat-list-item>
      <router-outlet ></router-outlet>
      <mat-list-item class="item4" ><h3 class="S">Students</h3></mat-list-item>
      <router-outlet ></router-outlet>
    </mat-list>
  </div>
</div>





