<md-card class="maincard">
  <h4 *ngIf="!Focus">
    PREVIEW CONTENTS
  </h4>
  <h4 *ngIf="Focus"> {{collection.name}}</h4>
  <hr style="color:white">
  <md-card-content>
    <md-card class="slab" *ngFor="let location of selectedCollectionLocations">
      <img class="slab-image" src="https://loca-app.herokuapp.com/files/{{location._id}}">
      <h5 class="slab-h4">{{location.name}}</h5>
      <div class="select" (click)="toLocationProfile(location)"><md-icon svgIcon="arrow-right"></md-icon></div>
    </md-card>
  </md-card-content>
</md-card>

