<div class="row mainrow">
  <div class="col-md-4">
    <mat-card>
      <img src="./../../../../assets/materials/Blue%20Gradient%20Side%20Panel.png">
      <div class="row footerrow">
        <div class="col-md-10 offset-sm-1">
          <h5>Hospital 1</h5>
          <p>422 West Chapman Ave</p>
          <p>Orange, CA, 92866</p>
          <p class="phone">473-054-5665</p>
        </div>
      </div>
    </mat-card>
  </div>
  <div class="col-md-4">
    <mat-card>
      <img src="./../../../../assets/materials/Blue%20Gradient%20Side%20Panel.png">
      <div class="row footerrow">
        <div class="col-md-10 offset-sm-1">
          <h5>Hospital 2</h5>
          <p>300 East Chapman Ave</p>
          <p>Orange, CA, 92866</p>
          <p class="phone">717-374-0987</p>
        </div>
      </div>
    </mat-card>
  </div>
  <div class="col-md-4">
    <mat-card>
      <img src="./../../../../assets/materials/Blue%20Gradient%20Side%20Panel.png">
      <div class="row footerrow">
        <div class="col-md-10 offset-sm-1">
          <h5>Police Station</h5>
          <p>1400 Glassell Street</p>
          <p>Orange, CA, 92866</p>
          <p class="phone">949-030-0293</p>
        </div>
      </div>
    </mat-card>
  </div>
</div>
