.threefourth-width  {
    width: 70%;
}

.fabs {
    float: right;
    margin: 10px;
}

.lilfab {
    margin: 7px;
}

.full-width{
    width: 100%;
}

.listitem{
    margin-top: 9px;

}

.listtext {
    width: 100%;
}