h3 {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 34px;
    font-style: normal;
    font-variant: normal;
    font-weight: 300;
    line-height: 40px;
    text-align: left;
}
h5  {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 200;
    text-align: left;
}
p {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 200;
    text-align: left;
}
.threefourth-width  {
    width: 70%;
}


.full-width{
    width: 100%;
}




.listitem{
    margin-top: 9px;

}
.listtext {
    width: 100%;
}
.minus  {
    cursor: pointer;
    padding-left: 8px;
    color: red;
}
.add    {
    cursor: pointer;
    padding-left: 16px;
}
.Next-Button  {
    margin-left: 2%;
    margin-top: 0;
    width: 96%;
    background-color: #7acc85;
    opacity: 1;
    transition: .5s ease;
    height: 48px;
}
.Next-Text  {
    text-align: center;
    color: white;
    transition: .5s ease;
    margin: 0;
}
.Next-Icon  {
    color: white;
    transition: .5s ease;
    top: calc(50% - 11px);
    left: calc(50% + 38px);
    position: absolute;

}

.inline {
    display: inline-flex;
    position: absolute;
    left: calc(50% - 47px);
    top: 4px;
}
.nextrow  {
    height: 48px;
}
mat-card    {
    padding: 0;
}