<mat-card class="center-card">
    <mat-card-header>

    </mat-card-header>
    <h3>
        Add some rules
    </h3>
    <hr>
    <mat-card-content>
        <div class="fabs">
            <button  class="lilfab" md-mini-fab (click)="addRule()" ><mat-icon  svgIcon="plus"></mat-icon></button>
            <button  class="lilfab" md-mini-fab (click)="removeRule()"><mat-icon  svgIcon="minus"></mat-icon></button>
        </div>
        <mat-list >
            <mat-list-item class="listitem" *ngFor="let rule of RulesArray; trackBy:customTrackBy; let i = index">
                <mat-input-container class="listtext">
                    <input matInput placeholder="Rule #{{i + 1}}" value="" [(ngModel)]="RulesArray[i]">
                </mat-input-container>
            </mat-list-item>
        </mat-list>
    </mat-card-content>
</mat-card>