<agm-map #googlemap [latitude]="CurrentLocation.lat" [longitude]="CurrentLocation.lng" [styles]="">
  <agm-marker
    *ngFor="let location of locations
     | filter: searchString: 'name'
     | typeFilter: typeObject
     | electricityFilter: electrictyObject
     | bathroomFilter: bathroomObject
     | rateFilter: rateObject
"
    (markerClick)="toLocationProfile(location)"
    [latitude]="location.coordinates.lat"
    [longitude]="location.coordinates.lng"
    [iconUrl]="{
      url: './../../../../assets/icons/'+ location.type +'.svg',

      scaledSize: {
      height: 40,
      width: 40
      },
      optimized: true
    }">
  </agm-marker>
</agm-map>

