<mat-card class="Filters">
    <mat-card class="Rate-Filter">
        Rate
    </mat-card>
    <mat-card class="Electricity-Filter">
        Electricity
    </mat-card>
    <mat-card class="Grid-View">
        Grid View
    </mat-card>
    <mat-card class="Bathroom-Filter">
        Bathroom
    </mat-card>
    <mat-card class="Type-Filter">
        Type
    </mat-card>
    <mat-card class="Distance-Filter">
        Distance
    </mat-card>
    <mat-card class="City-Filter">
        City
    </mat-card>
</mat-card>
<mat-card class="Search">
    <input
            placeholder="Search City, State, or Address"
            type="text"
            class="Search-Input"
            [(ngModel)]="Query"
            (keyup)="updateInput(Query)"
    >
</mat-card>