/* FONTS */
.Filter-Text  {
  font-size: 16px;
  color: #a1a0a4;
  line-height: 24px;
  text-align: center;
}


/* COMPONENTS */
.shield {
  height: 80px;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  //background-color: #f1f6fb;
  background-color: #f1f6fb;
}

app-bathroom-filter {
  bottom: 18px;
  position: absolute;
  z-index: -1;
  height: 50px;
  width: 28%;
  left: 0;
}
app-rate-filter {
  bottom: 18px;
  position: absolute;
  z-index: -1;
  height: 50px;
  width: 28%;
  left: 0;
}
app-distance-filter {
  bottom: 18px;
  position: absolute;
  z-index: -1;
  height: 50px;
  width: 28%;
  left: 0;
}
app-type-filter {
  bottom: 18px;
  position: absolute;
  z-index: -1;
  height: 50px;
  width: 28%;
  left: 0;
}

.Filters  {
  position: absolute;
  top: 0;
  padding: 0;
  width: 100%;
  height: 64px;
  background-color: #f1f6fb;
  color: #74befb;
  transition: .4s ease-in-out;
  z-index: -2;

}
  .Close-Icon {
    height: 18px;
    width: 18px;
    position: absolute;
    z-index: 1;
    opacity: 0;
    left: 4px;
    bottom: 2px;
    transition: .2s ease-in-out;
    -webkit-transition-delay: .1s;
    -moz-transition-delay: .1s;
    -ms-transition-delay: .1s;
    -o-transition-delay: .1s;
    transition-delay: .1s;
    cursor: pointer;
  }



  .Rate-Filter  {
    position: absolute;
    left: 8px;
    top: 5px;
    height: 24px;
    width: 46px;
    cursor: pointer;
    transition: .1s ease;
    padding: 2px 0 0 0;
  }
  .Rate-Filter:hover  {
    top: 3px;
    transition: .1s ease;
  }

  .Type-Filter  {
    position: absolute;
    left: 60px;
    top: 5px;
    height: 24px;
    width: 46px;
    padding: 2px 0 0 0;
    cursor: pointer;
    transition: .1s ease;
  }
  .Type-Filter:hover  {
    top: 3px;
    transition: .1s ease;
  }
  .Electricity-Filter  {
    position: absolute;
    left: 112px;
    top: 5px;
    height: 24px;
    width: 80px;
    padding: 2px 0 0 0;
    cursor: pointer;
    transition: .1s ease;
  }
  .Electricity-Filter:hover  {
    transition: .1s ease;
    top: 3px;
  }
  .Bathroom-Filter  {
    position: absolute;
    left: 8px;
    top: 34px;
    height: 24px;
    width: 82px;
    padding: 2px 0 0 0;
    cursor: pointer;
    transition: .1s ease;
    font-size: 16px;
  }
  .Bathroom-Filter:hover  {
    top: 32px;
    transition: .1s ease;
  }
  .Distance-Filter  {
    position: absolute;
    left: 99px;
    top: 34px;
    height: 24px;
    width: 74px;
    padding: 2px 0 0 0;
    cursor: pointer;
    transition: .1s ease;
  }
  .Distance-Filter:hover  {
    top: 32px;
    transition: .1s ease;
  }
  .City-Filter  {
    position: absolute;
    left: 183px;
    top: 34px;
    height: 24px;
    width: 44px;
    padding: 2px 0 0 0;

    cursor: pointer;
    transition: .1s ease;
  }
  .City-Filter:hover  {
    top: 32px;
    transition: .1s ease;
  }
  .Grid-View  {
    position: absolute;
    left: 198px;
    top: 5px;
    height: 24px;
    width: 88px;
    padding: 2px 0 0 0;
    cursor: pointer;
    transition: .1s ease;
    font-size: 16px;
  }
  .Grid-View:hover  {
    top: 3px;
    transition: .1s ease;
  }
  .Free-Filter  {
    position: absolute;
    left: 237px;
    top: 34px;
    height: 24px;
    width: 46px;
    padding: 2px 0 0 0;
    cursor: pointer;
    transition: .1s ease;
    font-size: 16px;
  }
  .Free-Filter:hover  {
    top: 32px;
    transition: .1s ease;
  }
  .Parking-Filter  {
    position: absolute;
    left: 293px;
    top: 34px;
    height: 24px;
    width: 70px;
    padding: 2px 0 0 0;
    cursor: pointer;
    transition: .1s ease;
    font-size: 16px;
  }
  .Parking-Filter:hover  {
    top: 32px;
    transition: .1s ease;
  }
  .Crew-Filter  {
    position: absolute;
    left: 372px;
    top: 34px;
    height: 24px;
    width: 48px;
    padding: 2px 0 0 0;
    cursor: pointer;
    transition: .1s ease;
    font-size: 16px;
  }
  .Crew-Filter:hover  {
    top: 32px;
    transition: .1s ease;
  }
  .Miles-Filter  {
    position: absolute;
    left: 292px;
    top: 5px;
    height: 24px;
    width: 130px;
    padding: 2px 0 0 0;
    cursor: pointer;
    transition: .1s ease;
    font-size: 16px;
  }
  .Miles-Filter:hover  {
    top: 3px;
    transition: .1s ease;
  }


.Search {
  position: absolute;
  top: 64px;
  width: 100%;
  height: 45px;
  padding: 0;
}
  .Search-Input {
    font-family: Roboto, sans-serif;
    font-size: 20px;
    color: #b0b0b0;
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 45px;
    border: none;
    padding-left: 10px;
    z-index: 3;
  }
  .Mag-Icon {
    position: absolute;
    z-index: 0;
    right: 2px;
    top: 125px;
    height: 100px;
    width: 100px;
    background-color: red;
  }
