.rate-filter{
  height: 30px;
  width: 70px;
  border-radius: 20px !important ;
  margin: 25px 5px 2px !important;
  -webkit-box-shadow: 4px 10px 6px -6px #a8a8a8;
  -moz-box-shadow: 4px 10px 6px -6px #c4c4c4;
  box-shadow: 4px 10px 6px -6px #d7d7d7;
  background-color: white;
  border: 1px #f3f3f3 solid;
  color: #a1a1a1;
  font-family: Roboto, sans-serif;
  font-size: 12px;
  padding: 5px;
}
.filterRow  {
  padding-left: 20px;
  height: 60px;

}
.Search-Input {
  font-family: Roboto, sans-serif;
  font-size: 20px;
  color: #b0b0b0;

  padding-left: 10px;
  width: 80%;
  margin-top: 5px;
  margin-bottom: 10px;
  border-radius: 20px;
  border: 1px solid #f3f3f3;
  -webkit-box-shadow: 4px 10px 6px -6px #cbcbcb;
  -moz-box-shadow: 4px 10px 6px -6px #bbbbbb;
  box-shadow: 4px 10px 6px -6px #bbbbbb;
  height: 45px;
}
.material-icons {
  position: absolute;

}
.text-input {
  width: 60% !important;
  margin: 0 2% 0;
  position: absolute;
  top: 0;
  padding: 0;
}
.search {
  padding-left: 0;
}