<md-card [ngStyle]="{'top': ParentTopOffset,'left': ParentLeftOffset }">
  <md-grid-list cols="4" rowHeight="1:1">
    <md-grid-tile (click)="toggleDistance(5)" [ngStyle]="state.Distance === 5 && {backgroundColor: '#00838f'} || {backgroundColor: '#26c6da' }">
      <h3>5 Miles</h3>
    </md-grid-tile>
    <md-grid-tile (click)="toggleDistance(10)" [ngStyle]="state.Distance === 10 && {backgroundColor: '#00838f'} || {backgroundColor: '#26c6da' }">
      <h3>10 Miles</h3>
    </md-grid-tile>
    <md-grid-tile (click)="toggleDistance(15)" [ngStyle]="state.Distance === 15 && {backgroundColor: '#00838f'} || {backgroundColor: '#26c6da' }">
      <h3>15 Miles</h3>
    </md-grid-tile>
    <md-grid-tile (click)="toggleDistance(20)" [ngStyle]="state.Distance === 20 && {backgroundColor: '#00838f'} || {backgroundColor: '#26c6da' }">
      <h3>20 Miles</h3>
    </md-grid-tile>
    <md-grid-tile (click)="toggleDistance(30)" [ngStyle]="state.Distance === 30 && {backgroundColor: '#00838f'} || {backgroundColor: '#26c6da' }">
      <h3>30 Miles</h3>
    </md-grid-tile>
    <md-grid-tile (click)="toggleDistance(40)" [ngStyle]="state.Distance === 40 && {backgroundColor: '#00838f'} || {backgroundColor: '#26c6da' }">
      <h3>40 Miles</h3>
    </md-grid-tile>
    <md-grid-tile (click)="toggleDistance(50)" [ngStyle]="state.Distance === 50 && {backgroundColor: '#00838f'} || {backgroundColor: '#26c6da' }">
      <h3>50 Miles</h3>
    </md-grid-tile>
    <md-grid-tile (click)="toggleDistance(100)" [ngStyle]="state.Distance === 100 && {backgroundColor: '#00838f'} || {backgroundColor: '#26c6da' }">
      <h3>100 Miles</h3>
    </md-grid-tile>
  </md-grid-list>
</md-card>
