<mat-card [ngStyle]="{'top': ParentTopOffset,'left': ParentLeftOffset }">
  <mat-grid-list cols="2" rowHeight="1:1">
    <mat-grid-tile [ngStyle]="state.Yes && {backgroundColor: '#00838f'} || {backgroundColor: '#26c6da' }" (click)="toggleElectricity('Yes')">
      <h3>Yes</h3>
    </mat-grid-tile>
    <mat-grid-tile [ngStyle]="state.No && {backgroundColor: '#00838f'} || {backgroundColor: '#26c6da' }" (click)="toggleElectricity('No')">
      <h3>No</h3>
    </mat-grid-tile>
  </mat-grid-list>
</mat-card>
