.header-image {
    width: 100%;
    height: 300px;
    overflow-y: hidden;
}
.header-img {
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: 50%;
    size: auto;
}

.wrapper {
 width:500px;
 overflow:hidden;
}

.left {
 width:500px;
 float:left;
}

.right {
 width:500px;
 float:right;
}
