/* FONTS */
.Paragraph{
	font-family: Roboto, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: 200;
	line-height: 22px;
	color: grey;
}
.Contact-Section-Title	{
	font-family: "Helvetica Neue", sans-serif;
	font-size: 35px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 35px;
	color: grey;
}

/* ADD ONS */
app-main-toolbar	{
	left: calc(50% - 80px);
}
::-webkit-scrollbar {
	width: 10px;  /* remove scrollbar space */
	margin-left: 2px;
	z-index: 1;
	background: transparent;  /* optional: just make scrollbar invisible */
	display: none;

}
::-webkit-scrollbar-thumb {
	background: #a1a1a1;
	border-radius: 5px;
	z-index: 10;
	display: none;
}

/* COMPONENTS */
.Main-Panel	{
	width: 85%;
	height: 54vh;
	position: absolute;
	top: calc(40vh);
	left: calc(50% - 42.5%);
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	background-color: white;
	opacity: .8;
	padding: 24px;
}
	.row	{
		width: 100%;
		height: 100vh;
		margin: 0;
	}
		.Right-Panel	{
			z-index: 10;
			box-shadow: 0 20px 20px 0 rgba(0,0,0,.18), 0 30px 30px 0 rgba(0,0,0,.18);
		}

		.Left-Panel	{
			background-color: #fafafa;
			padding: 0;
			height: auto;
			overflow-y: scroll;
			overflow-x: hidden;
		}
			.Banner-Row	{
				position: absolute;
				height: 25vh;
				top: 20vh;
				width: 100%;
				padding: 24px;
			}
				.Banner-Container	{
					height: 100%;
				}
					.Banner-Card	{
						height: 100%;
						padding: 0;
					}
						.Banner-Image	{
							background-size: cover;
							background-position: 0 -200px;
							z-index: 1;
							position: absolute;
							height: 100%;
							width: 100%;
							top: 0;
							left: 0;
						}

