/* FONTS */
.Paragraph{
	font-family: Roboto, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: 200;
	line-height: 22px;
	color: grey;
}
.Main-Title	{
	font-family: "Helvetica Neue", sans-serif;
	font-size: 40px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 40px;
	color: white;
}
.Right-Panel-Title	{
	font-family: "Helvetica Neue", sans-serif;
	font-size: 40px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 40px;
	color: white;
}

/* ADD ONS */
app-main-toolbar	{
	left: calc(50% - 80px);
}
.scrollable	{
	overflow-y: auto;
}
::-webkit-scrollbar {
	width: 10px;  /* remove scrollbar space */
	margin-left: 2px;
	z-index: 1;
	background: transparent;  /* optional: just make scrollbar invisible */
	display: none;

}
::-webkit-scrollbar-thumb {
	background: #a1a1a1;
	border-radius: 5px;
	z-index: 10;
	display: none;
}

/* COMPONENTS */
.Main-Panel	{
	width: 85%;
	height: 54vh;
	position: absolute;
	top: calc(40vh);
	left: calc(50% - 42.5%);
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	background-color: white;
	opacity: .8;
	padding: 24px;
}
	.row	{
		width: 100%;
		height: 100vh;
		margin: 0;
	}
		.Right-Panel	{
			overflow-y: auto;
			padding: 0;
			z-index: 10;
			box-shadow: 0 20px 20px 0 rgba(0,0,0,.18), 0 30px 30px 0 rgba(0,0,0,.18);
		}
			.Header-Bar	{
				padding: 0;
			}
				.City-Banner	{
					width: 100%;
					height: 15vh;
					background-size: cover;
					background-position: 0 -110px;
					filter: Sepia(70%) Contrast(40%) Brightness(80%) Saturate(180%);
				}
				.City-Title	{
					position: absolute;
					top: 55px;
					z-index: 2;
					left: 24px;
				}
				.State-Title	{
					position: absolute;
					top: 95px;
					z-index: 2;
					left: 24px;
					font-size: 20px;
					line-height: 20px;
				}
			.City-Map	{
				width: 100%;
				height: 25vh;
			}
			.City-Summary	{
				width: 100%;
				height: 60vh;
				padding: 24px;
			}
				.City-General-Rules	{
					color: #606460;
					z-index: 3;
					font-family: Roboto, sans-serif;
					font-size: 18px;
					font-style: normal;
					font-variant: norma3l;
					font-weight: 400;
					line-height: 18px;
				}
				.City-General-List	{
					color: #767a76;
				}
		.Left-Panel	{
			background-color: #fafafa;
			padding: 0;
			height: auto;
			overflow-y: scroll;
			overflow-x: hidden;
		}
			.Other-Photos-Row	{
				background-color:red;
				height: 30vh;
				width: 100%;
				padding: 15px 24px;
			}
			.Banner-Row	{
				height: 30vh;
				margin-top: 12vh;
				width: 100%;
				padding: 15px 24px;
			}
				.Banner-Container	{
					height: 100%;
					width: 100%;
					padding: 48px;
				}
					.Banner-Card	{
						height: 100%;
					}
						.Banner-Image {
							background-size: cover;
							background-position: 0 -150px;
							z-index: 1;
							position: absolute;
							height: 100%;
							width: 100%;
							top: 0;
							left: 0;
						}
						.Location-Title	{
							z-index: 2;
							left: 12px;
							bottom: 12px;
							position: absolute;
						}
		.Second-Row	{
			height: auto;
			max-height: 80%;
			width: 100%;
			padding:  15px 24px;
		}
			.Booking-Container	{
				height: 100%;
				width: 100%;

			}
				.Booking-Card	{
					height: 100%;
					padding: 0;
				}
			.General-Title	{
				height: 16%;
				line-height: 24px;
			}
			.General-Body	{
				height: 84%;
				width: 100%;
				padding: 12px;
				overflow-y: scroll;
			}
			.Details-Container	{
				height: 100%;
				width: 100%;
			}
				.Details-Card	{
					height: 100%;
					padding: 24;
				}
					.Details-Tile	{

					}
					.Details-Body	{

					}
			.Details-Container-2	{
				margin-top: 24px;
			}
.h3 {
	font-family: Roboto, "Helvetica Neue", sans-serif;
	font-size: 34px;
	font-style: normal;
	font-variant: normal;
	font-weight: 300;
	line-height: 40px;
	text-align: left;
}
.h5  {
	font-family: Roboto, "Helvetica Neue", sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: 200;
	text-align: left;
}


.block  {
	width: 1000px;
	height: 90px;
	padding: 24px;
	margin: 24px;
	margin-top: 0;
}


.Details-Row-1  {
	width: 100%;
	height: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}


.Tile  {
	width: 150px;
	height: 180px;
	padding: 0;
	margin: 24px;
}
.smaller  {
	font-size: 20px;
}
.Icon {
	height: 30px;
	width: 30px;
	position: absolute;
	top: 4px;
	left: 60px;
	transition: .3s ease;
}
.Big  {
	width: 100%;
	height: 68px;
	top: 44px;
	right: 0;
	left: 0;
	transition: .3s ease;
}

.Sun{
	top: 52px;
}
.Title {
	position: absolute;
	bottom: 4px;
	width: 100%;
	text-align: center;
	left: 0;
	color: #74befb;
}
.Add  {
	position: absolute;
	min-width: 36px ;
	width: 36px;
	padding: 0;
	height: 36px;
	left: 36px;
	bottom: 48px;
}
.Minus  {
	position: absolute;
	min-width: 36px ;
	width: 36px;
	padding: 0;
	height: 36px;
	right: 36px;
	bottom: 48px;
}
.Value {
	position: absolute;
	width: 100%;
	height: 36px;
	right: 0;
	font-size: 48px;
	top: 64px;
	text-align: center;
	color: #c5c5c5;
}






.Bathrooms-Tile {
	width: 150px;
	min-width: 150px;
	height: 180px;
	padding: 0;
	margin: 24px;
	color: #74befb;

}
.Bathrooms-Icon {
	height: 30px;
	width: 30px;
	position: absolute;
	top: 4px;
	left: 60px;
	transition: .3s ease;
}
.Bathrooms-Title  {
	position: absolute;
	bottom: 4px;
	width: 100%;
	text-align: center;
	left: 0;
	color: #74befb;
}
.Bathrooms-Add  {
	position: absolute;
	min-width: 36px ;
	width: 36px;
	padding: 0;
	height: 36px;
	left: 36px;
	bottom: 48px;
}
.Bathrooms-Add:hover  {

}
.Bathrooms-Add:active {

}
.Bathrooms-Minus  {
	position: absolute;
	min-width: 36px ;
	width: 36px;
	padding: 0;
	height: 36px;
	right: 36px;
	bottom: 48px;
}
.Bathrooms-Value  {
	position: absolute;
	width: 100%;
	height: 36px;
	right: 0;
	font-size: 48px;
	top: 64px;
	text-align: center;
	color: #c5c5c5;
}

.Power-Tile {
	width: 150px;
	height: 180px;
	padding: 0;
	margin: 24px;
}
.Power-Icon {
	height: 30px;
	width: 30px;
	position: absolute;
	top: 4px;
	left: 60px;
}
.Power-Title  {
	position: absolute;
	bottom: 4px;
	width: 100%;
	text-align: center;
	left: 0;
	color: #74befb;
}
.Power-Toggle {
	position: absolute;
	min-width: 36px ;
	width: 36px;
	padding: 0;
	height: 36px;
	left: 57px;
	bottom: 48px;
}
.Power-Value-Icon  {
	position: absolute;
	width: 100%;
	height: 68px;
	right: 0;
	font-size: 30px;
	top: 40px;
	text-align: center;
}
.Power-No-Icon {
	position: absolute;
	width: 100%;
	height: 95px;
	right: 0;
	font-size: 30px;
	top: 24px;
	text-align: center;
	color: #c52117;
	opacity: 0;
	transition: .3s ease;
}

.Cars-Tile  {
	width: 150px;
	height: 180px;
	padding: 0;
	margin: 24px;
}
.Car-Icon {
	height: 30px;
	width: 30px;
	position: absolute;
	top: 4px;
	left: 60px;
	transition: .3s ease;
}
.Car-Title {
	position: absolute;
	bottom: 4px;
	width: 100%;
	text-align: center;
	left: 0;
	color: #74befb;
}
.Car-Add  {
	position: absolute;
	min-width: 36px ;
	width: 36px;
	padding: 0;
	height: 36px;
	left: 36px;
	bottom: 48px;
}
.Car-Minus  {
	position: absolute;
	min-width: 36px ;
	width: 36px;
	padding: 0;
	height: 36px;
	right: 36px;
	bottom: 48px;
}
.Car-Value {
	position: absolute;
	width: 100%;
	height: 36px;
	right: 0;
	font-size: 48px;
	top: 64px;
	text-align: center;
	color: #c5c5c5;
}

.Truck-Tile {
	width: 150px;
	height: 180px;
	padding: 0;
	margin: 24px;
}
.Truck-Icon {
	height: 30px;
	width: 30px;
	position: absolute;
	top: 4px;
	left: 60px;
	transition: .3s ease;
}
.Truck-Title {
	position: absolute;
	bottom: 4px;
	width: 100%;
	text-align: center;
	left: 0;
	color: #74befb;
}
.Truck-Add  {
	position: absolute;
	min-width: 36px ;
	width: 36px;
	padding: 0;
	height: 36px;
	left: 36px;
	bottom: 48px;
}
.Truck-Minus  {
	position: absolute;
	min-width: 36px ;
	width: 36px;
	padding: 0;
	height: 36px;
	right: 36px;
	bottom: 48px;
}
.Truck-Value {
	position: absolute;
	width: 100%;
	height: 36px;
	right: 0;
	font-size: 48px;
	top: 64px;
	text-align: center;
	color: #c5c5c5;
}


.Rate-Tile {
	width: 150px;
	height: 180px;
	padding: 0;
	margin: 24px;
}
.Rate-Icon {
	height: 30px;
	width: 30px;
	position: absolute;
	top: 4px;
	left: 60px;
	transition: .3s ease;

}
.Rate-Title {
	position: absolute;
	bottom: 4px;
	width: 100%;
	text-align: center;
	left: 0;
	color: #74befb;
}
.Rate-Add  {
	position: absolute;
	min-width: 36px ;
	width: 36px;
	padding: 0;
	height: 36px;
	left: 36px;
	bottom: 48px;
}
.Rate-Minus  {
	position: absolute;
	min-width: 36px ;
	width: 36px;
	padding: 0;
	height: 36px;
	right: 36px;
	bottom: 48px;
}
.Rate-Value {
	position: absolute;
	width: 100%;
	height: 36px;
	right: 0;
	font-size: 30px;
	top: 64px;
	text-align: center;
	color: #c5c5c5;
}


.Deposit-Tile  {
	width: 150px;
	height: 180px;
	padding: 0;
	margin: 24px;
}
.Deposit-Icon {
	height: 30px;
	width: 30px;
	position: absolute;
	top: 4px;
	left: 60px;
	transition: .3s ease;

}
.Deposit-Title {
	position: absolute;
	bottom: 4px;
	width: 100%;
	text-align: center;
	left: 0;
	color: #74befb;
}
.Deposit-Add  {
	position: absolute;
	min-width: 36px ;
	width: 36px;
	padding: 0;
	height: 36px;
	left: 36px;
	bottom: 48px;
}
.Deposit-Minus  {
	position: absolute;
	min-width: 36px ;
	width: 36px;
	padding: 0;
	height: 36px;
	right: 36px;
	bottom: 48px;
}
.Deposit-Value {
	position: absolute;
	width: 100%;
	height: 36px;
	right: 0;
	font-size: 30px;
	top: 64px;
	text-align: center;
	color: #c5c5c5;
}




.Wifi-Tile  {
	width: 150px;
	height: 180px;
	padding: 0;
	margin: 24px;
}
.Wifi-Icon {
	height: 30px;
	width: 30px;
	position: absolute;
	top: 4px;
	left: 60px;
}
.Wifi-Title {
	position: absolute;
	bottom: 4px;
	width: 100%;
	text-align: center;
	left: 0;
	color: #74befb;
}
.Wifi-Toggle  {
	position: absolute;
	min-width: 36px ;
	width: 36px;
	padding: 0;
	height: 36px;
	left: 57px;
	bottom: 48px;
}
.Wifi-Value-Icon {
	position: absolute;
	width: 100%;
	height: 68px;
	right: 0;
	font-size: 30px;
	top: 40px;
	text-align: center;
}
.Wifi-No-Icon {
	position: absolute;
	width: 100%;
	height: 95px;
	right: 0;
	font-size: 30px;
	top: 24px;
	text-align: center;
	color: #c52117;
	transition: .3s ease;
	opacity: 0;
}




.AC-Tile  {
	width: 150px;
	height: 180px;
	padding: 0;
	margin: 24px;
}
.AC-Icon {
	height: 30px;
	width: 30px;
	position: absolute;
	top: 4px;
	left: 60px;
}
.AC-Title {
	position: absolute;
	bottom: 4px;
	width: 100%;
	text-align: center;
	left: 0;
	color: #74befb;
}
.AC-Toggle  {
	position: absolute;
	min-width: 36px ;
	width: 36px;
	padding: 0;
	height: 36px;
	left: 57px;
	bottom: 48px;
}
.AC-Value-Icon {
	position: absolute;
	width: 100%;
	height: 68px;
	right: 0;
	font-size: 30px;
	top: 40px;
	text-align: center;
	color: #c5c5c5;
}
.AC-No-Icon {
	position: absolute;
	width: 100%;
	height: 95px;
	right: 0;
	font-size: 30px;
	top: 24px;
	text-align: center;
	color: #c52117;
	opacity: 0;
	transition: .3s ease;
}





.Soft-Tile  {
	width: 150px;
	height: 180px;
	padding: 0;
	margin: 24px;
}
.Soft-Icon {
	height: 30px;
	width: 30px;
	position: absolute;
	top: 4px;
	left: 60px;
}
.Soft-Title {
	position: absolute;
	bottom: 4px;
	width: 100%;
	text-align: center;
	left: 0;
	color: #74befb;
}
.Soft-Toggle  {
	position: absolute;
	min-width: 36px ;
	width: 36px;
	padding: 0;
	height: 36px;
	left: 57px;
	bottom: 48px;
}
.Soft-Value-Icon {
	position: absolute;
	width: 100%;
	height: 68px;
	right: 0;
	font-size: 30px;
	top: 40px;
	text-align: center;
	color: #c5c5c5;
}
.Soft-No-Icon {
	position: absolute;
	width: 100%;
	height: 95px;
	right: 0;
	font-size: 30px;
	top: 24px;
	text-align: center;
	color: #c52117;
	opacity: 0;
	transition: .3s ease;
}
.Add-Icon {
	height: 36px;
	width: 36px;
	padding: 12px;
}
.Next-Button  {
	margin-left: 2%;
	margin-top: 0;
	width: 96%;
	background-color: #7acc85;
	opacity: 1;
	transition: .5s ease;
	height: 48px;
}
.Next-Text  {
	text-align: center;
	color: white;
	transition: .5s ease;
}
.Next-Icon  {
	color: white;
	transition: .5s ease;
	top: calc(50% - 15px);
	left: calc(50% + 38px);
	position: absolute;
}
.container1	{
	flex-wrap: wrap;
	width: 100%;
	display: flex;

}
.inline {
	display: inline-flex;
	position: absolute;
	left: calc(50% - 47px);
	top: calc(50% - 20px);
}
.nextrow  {
	margin-top: 24px;
	height: 48px;
}

.row4	{
	width: calc(100% - 48px);
	height: 400px;
	margin: 24px;
}

.tile1	{
	background-color: red;

}