<div class="container">

      <div class="row title">
        <div class="col-md-8 ">
          <h3>Let's see if we can find your property.</h3>
            <h5>
                Are you currently on the property? <strong style="color: deepskyblue; cursor: pointer" (click)="getCurrentLocation()">Click Here</strong> to give us your exact location.
            </h5>
        </div>
      </div>

    <div class="row ">
      <!-- ADDRESS CARD -->
      <mat-card class="col-md-5 ">
        <mat-input-container class="FWidth">
          <input matInput placeholder="Street" [(ngModel)]="Street" (keyup)="emitAddressObject()">
        </mat-input-container>
        <br>
        <div>
          <mat-input-container class="HWidth">
            <input matInput placeholder="City"  [(ngModel)]="City"  (keyup)="emitAddressObject()">
          </mat-input-container>
          <mat-input-container class="HWidth">
            <input matInput placeholder="State"  [(ngModel)]="State" (keyup)="emitAddressObject()">
          </mat-input-container>
        </div>
        <div>
          <mat-input-container class="HWidth">
            <input matInput placeholder="Country" [(ngModel)]="Country" (keyup)="emitAddressObject()">
          </mat-input-container>
          <mat-input-container class="HWidth">
            <input matInput placeholder="Postal" [(ngModel)]="Postal" (keyup)="emitAddressObject()">
          </mat-input-container>
        </div>
        <button mat-button class="submit-button" color="primary" (click)="onSubmit()">Submit</button>
      </mat-card>

      <!-- MAP CARD -->
      <mat-card class="col-md-5 offset-md-1 mapCard">
          <!-- LOADING SCREEN -->
          <div class="loading" [ngStyle]="{'display': LoadingDisplay}">
              <mat-spinner></mat-spinner>
          </div>
          <!-- UPPER DRAWER -->
          <div class="upper-drawer" [ngStyle]="{'display' : display}">
              <p class="upper-drawer-title">{{title}}</p>
          </div>
          <!-- MAP -->
          <agm-map #googlemaps [latitude]="lat" [longitude]="lng" [ngStyle]="{'display': MapDisplay}">
              <agm-marker [latitude]="lat" [longitude]="lng"  [markerDraggable]="drag" (dragEnd)="setMarkerCoords($event)" [ngStyle]="{'display' : display}">
              </agm-marker>
          </agm-map>
          <!-- LOWER DRAWER -->
          <div class="lower-drawer" [ngStyle]="{'display' : display, 'height': height}">
              <button mat-button color="primary" class="option-button-yes"  [ngStyle]="{'display': buttonDisplay }"(click)="ifYes()">Yes</button>
              <button mat-button color="warn" class="option-button-no" [ngStyle]="{'display': buttonDisplay }" (click)="ifNo()">No</button>
              <button mat-button color="primary" class="option-button-done" [ngStyle]="{'display': doneDisplay }" (click)="done()">Done</button>
          </div>
      </mat-card>
    </div>
    <!-- NEXT BUTTON -->
    <div class="row">
        <div class="col-md-11" style="padding:0">
            <mat-card class="Next-Button" (click)="ifDone()" [ngStyle]="{'background-color': color, 'cursor' : cursor}">
                <div class="inline">
                    <h3 class="Next-Text" [ngStyle]="{color: textcolor}">Next</h3>
                    <mat-icon class="Next-Icon" [ngStyle]="{color: textcolor}">arrow_forward</mat-icon>
                </div>
            </mat-card>
        </div>
    </div>
</div>
