h3 {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 34px;
  font-style: normal;
  font-variant: normal;
  font-weight: 300;
  line-height: 40px;
  text-align: center;
}

.FWidth {
  width: 100%;
}

.HWidth   {
  width: 48%;
}

.address-block  {
  margin-top: 25px;
}
.Map  {
  margin-top: 15px;
}

agm-map {
  height: 300px;
  width: 100%;
}
.mapCard  {
  padding: 0;
}

.container  {
  padding-bottom: 5px;
}

.row{
  margin-top: 10px;
  padding-left: 8.25%;
}